<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>CurTracker Main Page</title>
</head>
<body>
    <header class="header">
        <div class="header__logo"><a href="/">CurTracker</a></div>
        <div class="header__nav">
            <nav>
                <a href="/curse" class="nav__btn">Актуальные Курсы</a>
                <a href="/convert" class="nav__btn">Конвентатор</a>
            </nav>
        </div>
    </header>
    <section class="intro">
        <div class="intro__content">
            <img src="/styles/img/course.png" alt="Course">
            <h1>
                Узнавайте всю информацию о курсах
                <br>
                Очень быстро у Нас!
            </h1>
            <h2>Курсы пяти стабильных, лучших валют Мира!</h2>
            <h2>Евро, Рубль, Швейцарский Франк и другие валюты у нас на сайте!</h2>
            <h2>Конвертируй надежно и понятно у нас в конвертаторе!</h2>
        </div>
    </section>
</body>
</html>